@tailwind base;
@tailwind components;
@tailwind utilities;

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#photoButton {
    fill: #fff;
}

#isFishOverlay {
    position:absolute;
    z-index: 10;
    top:45%;
    left:30%;
    transform: rotate(20deg);
}

#isNotFishOverlay {
    position:absolute;
    z-index: 10;
    top:45%;
    left:30%;
    transform: rotate(-20deg);
}